<!doctype html>

<html class="no-js" lang="">

    <head>

        <meta charset="utf-8">

        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>sp-framework</title>

        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="http://scarletpleasure.molamil.com/main.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js"></script>

        <script src="http://scarletpleasure.molamil.com/js/pixi.min.js"></script>

        <script src="http://scarletpleasure.molamil.com/js/popcorn.js"></script>

        <script src="http://scarletpleasure.molamil.com/js/TweenMax.min.js"></script>

    </head>

    <body style="background-color: #000">

    <h1 id="loading" style="color:#FFF; width:100%; text-align: center; top:50%; position: relative">LOADING...</h1>


    <!--[if lt IE 8]>

        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    <![endif]-->

    <script src="./sp-framework.js"></script>

    <div id="SPFCover" style="cursor:pointer; z-index: 200; position:absolute; top:0; left:0; width:100%; height: 100%; background-color: orange;" onclick="  visual1(); document.getElementById('SPFCover').style.display = 'none'">
        <h1 style="color:#FFF; width:100%; text-align: center; top:50%; position: relative">SCARLET PLEASURE</h1>
    </div>

    <div id="SPFTitle" style="position:absolute; top:0; left:0; width:100%; height: 100%; background-color: blue;" onclick="document.getElementById('SPFCover').style.display = 'none'">
        <h1 style="color:#FFF; width:100%; text-align: center; top:50%; position: relative">THE WAVE</h1>
    </div>

    <canvas id="SPFCanvas" style="position: relative; top:0; left:0; width: 100%; height: 100%; transform: scale(1.5) translateZ(0);"></canvas>

    <div id="controls" style="z-index: 100; position:absolute; width: 100%; top:0; left:0px; text-align: center; text-transform:uppercase">

        <br>

        <h1 style="color:#FFF; margin: 20px;">Frontpage prototype</h1>

        <button style="display:inline-block; margin: 10px;" onclick="SPF.play();">PLAY</button>

        <button style="display:inline-block; margin: 10px;" onclick="SPF.pause();">PAUSE</button>

        <br>

        <button style="display:inline-block; margin: 10px;" onclick="javascript:SPF.playSection('bridge')">Section:  bridge</button>

        <button style="display:inline-block; margin: 10px;" onclick="javascript:SPF.playSection('outro')">Section: outro</button>

        <br>

        <button style="display:inline-block; margin: 10px;" onclick="javascript:visual1()">VISUAL I</button>

        <button style="display:inline-block; margin: 10px;"  onclick="javascript:visual2()">VISUAL II</button>

    </div>

    <script>

        document.getElementById('SPFCover').style.display = "none";
        document.getElementById('controls').style.display = "none";
        document.getElementById('SPFTitle').style.display = "none";

        SPF.load(function(){

            SPF.startFrontend(document.getElementById('SPFCanvas'), document.getElementById('SPFCover'));


            document.getElementById('SPFCover').style.display = "block";
            document.getElementById('controls').style.display = "block";
            document.getElementById('loading').style.display = "none";

        });


        draw = function(){

            var percentage = document.body.getAttribute("data-video-percentage");
            var editing = document.body.getAttribute("data-video-editing");

            if(percentage<25 && editing == "none"){
                document.getElementById('SPFTitle').style.display = "block";
            } else {
                document.getElementById('SPFTitle').style.display = "none";
            }

            SPF.log("EDITING", editing);

            requestAnimationFrame(draw);
        };

        draw();

        var fs;

        var masked;

        function visual1(){

            var tilingSpriteBack;

            SPF.set({

                at: 'mid', // "fore" "mid" or "back"

                load: function(PIXI, input) {
                    return [input.patterns.botanicorganic1];
                },

                init: function(PIXI, input) {

                    tilingSpriteBack = new PIXI.extras.TilingSprite(input.patterns.botanicorganic1, 1, 1);
                    tilingSpriteBack.anchor.set(0.5);
                    input.container.addChild(tilingSpriteBack);

                    masked = true;
                },

                render: function(PIXI, input) {

                    SPF.midgroundMask(masked);

                    fs = input.audio.frequencies();

                    tilingSpriteBack.rotation += 0.01+(fs[Math.round(fs.length/2)]/1500);
                },

                resize: function(PIXI, input) {

                    var w =  input.width;
                    var h =  input.height;

                    tilingSpriteBack.width = w*2;
                    tilingSpriteBack.height = h*2;

                    tilingSpriteBack.x = w/2;
                    tilingSpriteBack.y = h/2;
                }

            });

            SPF.set({at: 'back',

                mouseDownTouchStart:function(PIXI, input) {
                    masked = false;
                },

                mouseUpTouchEnd:function(PIXI, input) {
                    masked = true;
                },


                render: function(PIXI, input) {

                }

            });

            SPF.set({at: 'fore',

                render: function(PIXI, input) {

                },

                mouseDownTouchStart:function(PIXI, input) {
                    // console.log("mouseDownTouchStart");
                },

                mouseUpTouchEnd:function(PIXI, input) {
                    // console.log("mouseUpTouchEnd");
                }});



            SPF.info({number:"01", debug:true, title:"VISUAL I", tip:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.", firstName:"Nikolaj", lastName:"Staus", email:"ns@molamil.com"});


        };

        function visual2(){

            var tilingSpriteBack;

            SPF.set({

                at: 'back', // "fore" "mid" or "back"

                load: function(PIXI, input) {
                    return [input.patterns.botanicorganic2];
                },

                init: function(PIXI, input) {

                    tilingSpriteBack = new PIXI.extras.TilingSprite(input.patterns.botanicorganic2, 1, 1);
                    tilingSpriteBack.anchor.set(0.5);
                    input.container.addChild(tilingSpriteBack);

                },

                render: function(PIXI, input) {

                    fs = input.audio.frequencies();

                    tilingSpriteBack.rotation -= 0.01+(fs[Math.round(fs.length/2)]/1500);
                },

                resize: function(PIXI, input) {

                    var w =  input.width;
                    var h =  input.height;

                    tilingSpriteBack.width = w*2;
                    tilingSpriteBack.height = h*2;

                    tilingSpriteBack.x = w/2;
                    tilingSpriteBack.y = h/2;
                }

            });

            SPF.set({at: 'mid'});

            SPF.set({at: 'fore'});

            SPF.info({number:"02", debug:true, title:"VISUAL II", tip:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.", firstName:"Ramiro", lastName:"Espada", email:"re@ramiroespada.com"});

        };

    </script>

    </body>

</html>