
@import "vendor/normalize";

@font-face {
  font-family: 'MonostenA';
  src: url('./fonts/monosten-a-web.eot');
  src: url('./fonts/monosten-a-web.eot?#iefix')
  format('embedded-opentype'), url('./fonts/monosten-a-web.woff')
  format('woff'),url('./fonts/monosten-a-web.ttf')
  format('truetype'),url('./fonts/monosten-a-web.svg#BentonSansBlack') format('svg');
}

body{
  overflow: hidden;
}

body{


  font-family: MonostenA;

  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  column-rule: #FFF;
  overflow: hidden;
}

audio{
  display: none;
}

button {
  color:#FFF !important;
  font-size: 11px !important;
  background-color: rgba(255,23,78,100);
  outline: none;
  border: none;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;

}

.guide {

  color:#C9953B;// 0
  color:#ABC5C6;// 1
  color:#F880D7;// 2
  color:#04003D;// 3
  color:#080473;// 4
  color:#84FC8B;// 5
  color:#3C084A;// 6
  color:#5F1432;// 7
  color:#684DD2;// 8
  color:#C5BEFC;// 9
  color:#84B8CB;// 10
  color:#4A6995;// 11
  color:#ED8010;// 12
  color:#FBC42B;// 13
  color:#FA8474;// 14
  color:#FC4B56;// 15
  color:#F70050;// 16
  color:#FA9DBE;// 17
}